
.aboutAnimate{
     animation-name: slideUp;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

}

@keyframes slideUp {
    from{
        opacity: 0;
        transform: rotateY(360deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0deg);
    }
}