.cardAnimate{
  animation-name: slideLeft;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.titleCardAnimate{
    animation-name: slideRight;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}