.formsAnimate {
  animation-name: slideLeft;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
