
.linksAnimate{
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    
  animation-fill-mode: both;
}

@keyframes fadeIn  {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}