.profileAnimate{
  animation-name: slideDown;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.profileTextAnimate{
  animation-name: slideTextUp;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slideTextUp {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}