/* success animation */
.checkmark{
   width: 120px;
      height: 120px;
      border-radius: 50%;
      display: block;
      stroke-width: 0;
      stroke: green;
      stroke-miterlimit: 10;
      margin: 10px auto;
      box-shadow: inset 0px 0px 0px green;
      animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
      position: relative;
}

.checkmark__check {
    transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      color: green;
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: green;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

    @keyframes stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes scale {
      0%, 100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }

    @keyframes fill {
      100% {
        box-shadow: inset 0px 0px 0px 10px green;
      }
    }

    @keyframes fill1 {
      100% {
        box-shadow: inset 0px 0px 0px 10px hsl(0, 100%, 50%);
      }
    }

    .message {
      opacity: 0;
      margin-top: 20px;
      text-align: center;
      animation: fadeIn1 1s ease-in-out 1.2s forwards;
    }

    .message h2 {
      font-size: 1.1rem;
      margin: 0;
    }

    .message p {
        
      font-size: 1.1rem;
      margin: 5px 0 0;
    }

    @keyframes fadeIn1 {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }